*.kpf
*.idea
*.swp
*.textile
.DS_Store
.bundle
log/*
tmp
tmp/**/*
db/*.sqlite3
db/data.*
doc/*.doc
doc/*.pdf
public/system/*
private/*
webrat*
capybara*
rerun.txt
coverage*
test/coverage*
vendor/bundle
