/* =============================================================================
   Project: Rate My Tenants
   URL: RateMyTenants.com
   Authors: Matt Nielson, Zarin Ficklin
   ========================================================================== */

/* Global */
.even {background-color: #FFFFFF; }
.odd {background-color: #FFFFF0; }

body {
	font-family: georgia, 'PT Sans', helvetica, arial, sans-serif;
	background: url('../images/bg.png')repeat-x, url('../images/tile.gif') repeat;
	height: 100%;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Cardo', georgia, cambria, serif;
	font-weight: normal;
}
h1 { font-size: 48px; line-height: 54px; }
h2 { font-size: 40px; line-height: 45px; }
h3 { font-size: 32px; line-height: 36px; }
h4 { font-size: 24px; line-height: 30px; margin-bottom: 8px; }
a { color: #40afec; }
ul { list-style-type: none; margin: 0; }


/* Header & Footer */

#login {
	width: 100%;
	height: 60px;
	background: url('../images/dark-denim.png')repeat #000;
}
	#login form {
		margin-bottom: 0;
		padding: 20px 0 0 100px;
	}
#signup {
	width: 100%;
	height: 60px;
	background: url('../images/dark-denim.png')repeat #000;
}
	#signup form {
		margin-bottom: 0;
		padding: 20px 0 0 100px;
	}
#sign-up-form h1 {
	margin: 30px 0 30px 120px;
}
#sign-up-form form {
	padding-left: 100px;
}
#login-bar {
	width: 100%;
	background: url('../images/dark-denim.gif')repeat #000;
	height: 36px;
	/*-moz-box-shadow:0px 0px 10px #000000;
	-webkit-box-shadow:0px 0px 10px #000000;
	box-shadow:0px 0px 10px #000000;*/
}
	#login-bar p {
		padding-top: 9px;
		color: #fff;
	}
	#login-bar a {
		color: #fff;
	}
footer, .container {
	width: 710px;
	margin: 0 auto;
	display: block;
}
.logo {
	width: 200px;
	height: 97px;
	margin: 0 auto;
	padding: 40px 0 30px 0;
}
footer {
	border: 0;
	padding-bottom: 20px;
}
	footer p {
		text-align: center;
		text-shadow: 1px 1px 0px #fff;
		filter: dropshadow(color=#fff, offx=1, offy=1);
	}


/* Search Bar */

.search-bar {
	width: 694px;
	height: 78px;
	padding: 8px;
	border: 1px solid #fff;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	background: url('../images/black.png') repeat;
	box-shadow:inset 0px 0px 15px rgba(0,0,0,.5);
	-webkit-box-shadow:inset 0px 0px 15px rgba(0,0,0,.5);
	-moz-box-shadow:inset 0px 0px 15px rgba(0,0,0,.5);
}
.search-bar form {
	margin: 0;
	padding: 0;
}
	.search-bar.home {
		margin-top: 170px;
	}
	.search-field, .search-button {
		float: left;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
	.search-field {
		width: 440px;
		height: 69px;
		margin-right: 8px;
		padding-left: 20px;
		background: #373737;
		font-size: 36px;
		line-height: 36px;
		font-family: 'Cardo', georgia, cambria, serif;;
		color: white;
		box-shadow:inset 0px 0px 15px rgba(0,0,0,.8);
		-webkit-box-shadow:inset 0px 0px 15px rgba(0,0,0,.8);
		-moz-box-shadow:inset 0px 0px 15px rgba(0,0,0,.8);
	}
	.search-button {
		width: 218px;
		height: auto;
		box-shadow: 0;
		padding: 0;
		border: 0;
	}


/* Home Page */

.home-page {
	background: url('../images/bg-home.png')repeat-x, url('../images/tile.gif') repeat;
}
#home h1 {
	text-align: center;
	margin: 20px 0 50px 0;
	text-shadow: 1px 1px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}
#home h2 {
	text-align: center;
	margin: 40px 0;
	text-shadow: 1px 1px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}
.safe {
	margin: 0 auto;
	width: 460px;
	height: 40px;
	margin-top: 8px;
}
.safe img {
	float: left;
	display: block;
}
.safe p {
	float: left;
	padding-top: 8px;
}
.example {
	width: 710px;
	height: 351px;
	margin-bottom: 30px;
}


/* Account Info */

#account-info {
	margin-top: 50px;
}
	#account-info .fieldset {
		margin-left: 100px;
	}
	#account-info h4 {
		margin: 0 0 12px 150px;
	}
.your-ratings {
	margin-left: 150px;
}


/* Result */

.result {
	width: 710px;
	height: 351px;
	margin: 30px 0;
	position: relative;
	background: url('../images/scorecard-blank.png');
}
	.result.teaser {
		background: url('../images/scorecard.png');
	}
	.result h3 {
		padding: 65px 0 0 60px;
	}
	.questions {
		float: left;
		width: 500px;
		/*outline: 1px solid gold;*/
	}
		.questions ul {
			padding: 25px 0 0 60px;
		}
		.questions ul li, .answers ul li {
			font-size: 17px;
			line-height: 31px;
		}
	.answers, .add-entry {
		float: right;
		width: 95px;
		/*outline: 1px solid gold;*/
	}
		.add-entry {
			width: 195px;
		}
		.answers ul, .add-entry ul {
			padding: 25px 0 0 0;
		}
		.green {
			color: #39b54a;
		}
		.red {
			color: #cc0011;
		}
	.see-more {
		width: 100px;
		height: 50px;
		top: 65px;
		right: 140px;
		position: absolute;
	}
	.entry-first-name {
		margin: 65px 0 0 60px;
		width: 190px;
		height: 40px;
		font-size: 32px;
		line-height: 32px;
		font-family: 'Cardo', georgia, cambria, serif;
	}
	.entry-last-name {
		margin: 65px 0 0 5px;
		width: 190px;
		height: 40px;
		font-size: 32px;
		line-height: 32px;
		font-family: 'Cardo', georgia, cambria, serif;
	}
	.add-entry select {
		width: 150px;
		margin-bottom: 5px;
	}
		.add-entry-address {
			width: 710px;
			float: left;
		}
		.add-entry-address .clearfix {
			height: 34px;
			margin-left: 26px;
		}
		.add-entry-address label {
			width: 220px;
			margin-right: 7px;
		}
		.add-entry-address .btn {
			margin: 10px 0 0 253px;
		}
		.challenge {
			text-align: center;
		}
		.challenge a {
			color: #dda539;
		}
		input[type="checkbox"] {
			margin-left: 80px;
		}
	.address {
		margin: 8px 0 0 60px;
	}
		.zip-field {
			width: 100px;
		}
		.name-field {
			width: 285px;
		}


/* Search Results */

.search-results {

}
	.search-result ul li {
		padding: 10px 0;
	}
	.location {
		font-style: italic;
		color: #ccc;
	}
	.underline {
		border-bottom: 1px solid #ccc;
	}

#sub {
	min-height: 550px;
}