%body.home-page/
.logo
  %a{:href => root_path}
    %img{:alt => "Rate My Tenants", :src => "images/logo.png"}/
%main#home.container
  .search-bar.home
    %form
      %input.search-field{:name => "search-field", :onClick => "this.value=''", :type => "text", :value => "Tenant name..."}/
      %input.search-button{:alt => "search", :src => "images/search-button.png", :type => "image"}/
  .safe
    %img{:alt => "Seal", :src => "/images/seal.png"}/
    %p (We respect Federal Fair Housing guidelines and are 100% safe to use)
  %h2 For example:
  .example
    %img{:alt => "Example", :src => "images/example.png"}/