.logo
  %a{:href => root_path}
    %img{:alt => "Rate My Tenants", :src => "/images/logo.png"}/
%main#home.container
  - form_for :rating, :url => reviews_path do |f|
    .result{:style => "margin-bottom:10px"}
      %input.entry-first-name{:name => "entry-first-name", :onClick => "this.value=''", :type => "text", :value => "First name"}/
      %input.entry-last-name{:name => "entry-last-name", :onClick => "this.value=''", :type => "text", :value => "Last name"}/
      .questions
        %ul{:style => "padding-top:5px"}
          - ["Were they late paying the rent?", "Did they recieve any noise complaints?", "Did they cause damange to the property?", "Did they skip or were they evicted?", "Did they leave owing any money?"].each do |question|
            %li{:class => cycle('even', 'odd')}= question

      .add-entry
        %ul{:style => "padding-top:5px"}
          %li
            .controls
              %select{:name => 'times_late_paying'}
                %option --
                %option No, Never
                %option Sometimes
                %option Often
          %li
            .controls
              %select{:name => "noise_complaints"}
                %option --
                %option No, Never
                %option Sometimes
                %option Often
          %li
            .controls
              %select{:name => "damage" }
                %option --
                %option No
                %option Yes
          %li
            .controls
              %select{:name => "skipped_or_evicted"}
                %option --
                %option No
                %option Yes
          %li
            .controls
              %select{:name => "left_owing_money"}
                %option --
                %option No, no money owed
                %option Yes, for damages
                %option Yes, for late rent
                %option Yes, other charges
    .add-entry-address
      .clearfix
        %label{:for => "subject"} Apartment Name / Street Address
        .input
          %input{:name => "add-entry-apartment", :size => "30", :type => "text"}/
      .clearfix
        %label{:for => "code"} ZIP Code of property
        .input
          %input{:name => "add-entry-code", :size => "30", :type => "text", :onblur => "$('#city-name').load('/reviews/zip_to_city?code=' + $(this).val());"}/
          %br
          #city-name{:style => "height: 25px; padding:5px; float:right;"}
    .add-entry-submit
      %input.btn.large.primary{:type => "submit", :value => "add entry"}/