.logo
  %a{:href => root_path}
    %img{:alt => "Rate My Tenants", :src => "/images/logo.png"}/
- if @property.errors.present?
  .alert-message.error= @property.errors.full_messages.to_sentence
%main#home.container
  - form_for @property, :url => review_path(@property), :method => :put do |f|
    = render :partial => 'form', :locals => { :f => f }

    .add-entry-address
      %input.btn.large.primary{:type => "submit", :value => "update entry"}/
